<!DOCTYPE html>
<html>
    <head>
    <title>Random Number Creation</title>
    <script>
    </script>
    </head>
    <body background="black">
        <center>
            <span style="color: white;">Random Number Creation</span><br><br>
        <paragraph style="color: white;">{{number}}</paragraph><br>
        </center>
    </body>
</html>