<!DOCTYPE html>
<html>
    <head>
    <title>Random Number Creation</title>
    <script>
    </script>
    </head>
    <body>
        <center>
            <span>Random Number Creation</span><br><br>
        <paragraph>{{number}}</paragraph><br>
        </center>
    </body>
</html>